<!--
  Generated template for the WiFi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Wi-Fi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
   
  <button ion-button block (click) = "getScanResult()">Scan Wi-Fi</button>
  

    <ion-spinner class= "center" *ngIf="show_spinner"></ion-spinner>
    <!--
      <ion-card *ngIf="connected">
          Connected!      
      </ion-card>
    -->


  <ion-card *ngFor = "let item of info">
      <ion-list>
        <div>
          <ion-item>
            <ion-icon name="ios-wifi" item-right></ion-icon>
            {{item.SSID}}
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)] = "item.wifiPassword"></ion-input>
            <button ion-button outline item-right (click) = "connectNetwork(item.SSID, item.wifiPassword)">Connect</button>
          </ion-item>
        </div>
      </ion-list>
  </ion-card>
 
</ion-content>
